@charset "utf-8";

/*--- reset ---*/
a:link,  a:visited {color:#333;text-decoration:none;}
a:hover,  a:active {color:#f26a25;text-decoration:none;}
a {color: inherit}
.hidden{width: 0;height: 0;overflow: hidden;
    font-size: 0; line-height: 0; text-indent: -9999px;
    position: absolute; left: -9999px;
    visibility: hidden;
}
.clearfix:after {content: "";clear: both;display: table}
body {font: 14px/1.2 'Noto Sans KR',dotum ,"돋움" , AppleGothic, sans-serif; 
    background-color: #f6f2ed;
}
.skip-nav{width: 100%; height: 30px; line-height: 30px;
    background-color: #ff0;
    text-align: center;
    position: absolute; top: -30px
}
.skip-nav a{position:absolute; left:-3000%;}
.skip-nav a:focus{width:100%; height:30px; display:block; left:0; top: 30px; z-index:10000000000;
    line-height:30px; background:#039; color:#fff; text-align:center;}

.start{position: relative}

/*--- header 시작 ---*/
section{width: 1200px; margin: 0 auto; overflow: hidden}
#header{width: 100%; min-width: 1200px; height: 1080px;}
#header>section{height: 1080px; padding-top: 25px;}
#header h1{width: 115px; height: 70px;
    text-indent: -9999px;
    background: url(../img/logo1.png) no-repeat 0 0;
    position: absolute; left: 40px; 
}
#gnb{width: 1200px; margin: 0 auto;
    font-family:'Jua', sans-serif;
}
#gnb li{float: left; margin: 0 50px;}
#gnb a{font-size:24px; font-weight: 300; line-height: 70px; letter-spacing: -0.5px;
    transition: all 0.3s;
    position: relative;
}
#gnb a:before{width: 6px;height: 6px; display: block;content: '';
    position: absolute; left: 50%;top: -15px;
    background-color: #f26a25; border-radius: 50%;
    transform: scale(0);-webkit-transform: scale(0);
    transition: all 0.15s ease-in-out;-webkit-transition: all 0.15s ease-in-out;
}
#gnb li:hover>a:before {transform: scale(1);-webkit-transform: scale(1);}

.indicator{position: fixed; right: 105px;top: 40%; z-index: 100;
    cursor: pointer
}
.indicator>li{width: 10px;height: 10px; margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #e0e0e0;
    transform: scale(1);
    transition: all 0.5s ease 0s
}
.indicator>li:hover {
    background-color: #f5df36;
    transform: scale(1.5);
}
.indicator>li.on {
    background-color: #f5df36;
    transform: scale(1.5);
}

.indicator>li>em{display: block;opacity: 0;
    font: 8px/1.4 'Nanum Gothic', 'Malgun Gothic', Dotum, 'Apple SD Gothic Neo', sans-serif; color:#333;
    text-align: right;
    position: absolute; right: 20px;top: -3px;
}
.indicator>li:hover em {opacity: 1; color: #555}
.indicator>li.on em {opacity: 1; color: #555}


/* intro */
.intro{position: relative}
.intro>div{width: 1200px;
    position: absolute; left: center; top: 320px;
    text-align: center;
    font-family: 'Jua', sans-serif; font-size: 125px; color: #111; line-height: 135px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
}
.intro .p1 {letter-spacing: -3px}
.intro .p2 {letter-spacing: 2px}

.intro em:nth-child(1){color: #f5372e}
.intro em:nth-child(2){color: #ffdc19}
.intro em:nth-child(3){color: #fc4604}

.intro .p1 {
    -webkit-animation:intro 2s .75s ease both;
    animation:intro 2s .3s ease both
}
.intro .p2 {
    -webkit-animation:intro 2s 2.75s ease both;
    animation:intro 2s 1.0s ease both
}

@keyframes intro {
    0%{opacity:0;-webkit-transform:translateY(4rem);transform:translateY(4rem)}
    60%{-webkit-transform:translateY(0);transform:translateY(0)}
    to{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
.arrow{position: relative}
.arrow i{font-size: 40px;
    position: absolute; left: 50%; top: 850px;
    transition: all 0.4s;
    -webkit-animation:intro 2s 2.75s ease both;
    animation:intro 2s 1.5s ease both
}
.arrow i:hover {top:855px}
/* header 끝 */

/*--- main 시작 ---*/
/* 공통 */
#main h3{font-family: 'Jua', sans-serif;
    font-size: 60px; font-weight: normal;letter-spacing: -0.5px; text-align: center; 
line-height: 62px;
}
#main .desc{margin-bottom: 80px;
    font-family: 'Handon3gyeopsal300g'; font-size: 24px; font-weight: bold; color: #666; text-align: right; line-height: 24px;
} 
section{margin-bottom: 200px;}

/* menu1 시작 */

#menu1{width: 1200px;height: 700px; padding: 0 80px;
    position: relative
}
.menu1_desc{padding-top:220px; float:right}
.menu1_desc{
    position: absolute; right:50px; bottom: 0;
    text-align: left;
}
.menu1_desc>dl{display: block;width: 407px;
    margin-bottom:67px;
    color: #333;letter-spacing: -1px;
}
.menu1_desc>dl>dt{font-size: 32px;line-height: 62px; color:#333}
.menu1_desc>dl>dd{font-size: 20px;line-height: 30px; color:#777}
.menu1_desc>ul{width: 407px;
    color: #444;letter-spacing: -1px;
    position: relative
}
.menu1_desc>ul:nth-of-child(1){display: block;width: 300px;height: 50px;
    border: 1px solid #f00
}
.menu1_desc>ul+ul{margin-top: 50px;}
.menu1_desc>ul>li{line-height: 22px; color: #777; font-size: 16px; font-weight: 300}
.menu1_desc>ul>li:nth-child(1){height: 40px;
    font-size: 24px;font-weight:700;line-height: 40px; color: #444
}
.menu1_desc>ul em{font-weight: 400}
.menu1_desc .bar1{display: block;width: 70px;height: 32px;
    border-left: 6px solid #72726c;
    border-top: 1px solid #72726c;
    position: absolute;left: 0
}
.menu1_desc .bar2{display: block;width: 104px;height: 32px;
    border-left: 6px solid #72726c;
    border-top: 1px solid #72726c;
    position: absolute;left: 0
}
.menu1_desc img{border-radius: 50%;
    position: absolute; left:-630px ;top:210px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)}
/* menu1 끝 */

/* menu2 시작 */
/* 공통 */
#menu2{height: 1510px; text-align: left;}
#menu2>div{padding: 0 60px;}
#menu2:after{content: ""; display: block; clear: both;}
#menu2 .desc{margin-right: 80px;}
.menu2_desc1, .menu2_desc3{float: left}
.menu2_desc2{padding-top: 400px; float: right}
.menu2_desc3{padding-top: 300px;}
.menu2_thumb{width: 500px;height: 345px;}
.menu2_thumb img{border-radius: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)}
.menu2_thumb>div {transition: all 0.5s}
.menu2_thumb:hover {transform: scale(1)}
.menu2_thumb:hover div {transform: scale(0.94)}

.thumb_txt{position: relative; padding-left: 70px;z-index: 1}
.thumb_txt>p{margin-top:30px;
    font-size: 28px; font-weight: bold; letter-spacing: -1px; 
}
.thumb_txt>em{font-size: 18px; font-weight: 300; letter-spacing: -0.5px;}
.thumb_txt:before {content: "";display: block;width: 0px;height: 15px;
    position: absolute;top: 20px;left: 55px;
    background-color: #666; z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.thumb_btn{position: relative}
.thumb_btn>a{display: block; width: 150px; height: 45px; 
    position: absolute; right: 35px; top: 30px;
    border: 1px solid #777; border-radius: 5px;
    font-size: 18px; font-weight: 300; text-align: center; line-height: 43px;
    transition: all 0.3s
}
.thumb_btn:hover a{color:#333; font-weight: 400;
    border: 2px solid #333;
}

/* 개별 */
.menu2_desc1 .thumb_txt:before{background-color: #f9eb88;}
.menu2_desc1 .menu2_thumb:hover + dd:before {width: 245px;}
.menu2_desc1 .thumb_btn:hover a{background-color: #f9eb88; top:34px}

.menu2_desc2 .thumb_txt:before{background-color: #94dca4;}
.menu2_desc2 .menu2_thumb:hover + dd:before {width: 220px;}
.menu2_desc2 .thumb_btn:hover a{background-color: #94dca4; top:34px}

.menu2_desc3 .thumb_txt:before{background-color: #b1e4f7;}
.menu2_desc3 .menu2_thumb:hover + dd:before {width: 235px;}
.menu2_desc3 .thumb_btn:hover a{background-color: #b1e4f7; top:34px}
/* menu2 끝 */

/* menu3 시작 */
#menu3 .desc{margin-right: 20px;}
/* web1-img, web2-img, web3-img 공통 */
.inner .pfImg {width:100%; text-indent:-9999px;}
.inner .pfImg .pc {width:643px; height:545px; 	
    position:absolute; left:50%; top:10px;
	transform: translateX(-50%); 
}
.inner .pfImg .pc i {width:60px; height:60px; display:block; padding:17px 0; 
	position:absolute; top:260px; left:30px; 
	border-radius:50%; 
	color:#fff; text-align: center; text-indent:0; font-style: normal; font-size:10px; 
	transition:opacity 0.3s; 
	background:#fc0; opacity:1; 
}
.inner .pfImg .pc:hover i {opacity: 0}

/* web1-img */
.web1-img .inner .pfImg .pc {background:url(../img/web1.png) no-repeat;}
.web1-img .inner .pfImg .pc span {display:block; width:596px; height:340px; 
	position:absolute; top:21px; left:25px; 
	background:url(../img/web1-over.jpg) no-repeat;
}
.web1-img .inner .pfImg .pc:hover span {animation: tlj 10s ease infinite;}
.web1-img .inner .pfImg .pc i {left:35px; top:30px; 
	background: rgba(13, 70, 51, 0.9);
}
    @keyframes tlj{
    	0%{background-position: 0 0;}
    	50%{background-position:0 -1000px}
    	100%{background-position: 0 0;}
}


/* web2-img */
.web2-img .inner .pfImg .pc {background:url(../img/web2.png) no-repeat;}
.web2-img .inner .pfImg .pc span {display:block; width:596px; height:340px; 
	position:absolute; top:21px; left:25px; 
    background:url(../img/web2-over.jpg) no-repeat;
}
.web2-img .inner .pfImg .pc:hover span {animation: busan 10s ease infinite;}
.web2-img .inner .pfImg .pc i {left:35px; top:30px; 
	background: rgba(35, 36, 103, 0.9)
}
    @keyframes busan {
    	0%{background-position: 0 0;}
    	50%{background-position:0 -830px}
    	100%{background-position: 0 0;}
}

/* web3-img */
.web3-img .inner .pfImg .pc {background:url(../img/web3.png) no-repeat;}
.web3-img .inner .pfImg .pc i {display: none;}
/*.web3-img .inner .pfImg .pc span {display:block; width:596px; height:340px; 
	position:absolute; top:21px; left:25px; 
    background:url(../img/web3-over.jpg) no-repeat;
}
.web3-img .inner .pfImg .pc:hover span {animation: ikea 10s ease infinite; z-index: 100}*/

/*    @keyframes ikea {
    	0%{background-position: 0 0;}
    	50%{background-position:0 -100px}
    	100%{background-position: 0 0;}
}*/
.web3-img .inner .pfImg .mobie{float:right; width:400px;height:600px;  padding-right:970px;  padding-top:500px; 
    background:url(../img/enex_m.png) no-repeat 0 350px; top:100px;
}
.web3-img .inner .pfImg .tablet{width:219px; height:800px;padding-top:219px;
    background:url(../img/enex_tablet.png) no-repeat 0 219px;  
    position:absolute; top:50px; right:148px; 
}
    @-webkit-keyframes fadeInLeft {
       0%{-webkit-transform:translate3d(-40%,0,0);opacity:0;transform:translate3d(-40%,0,0)}
       to{-webkit-transform:translateZ(0);opacity:1;transform:translateZ(0)}
    }
    
    @keyframes fadeInLeft {
       0%{-webkit-transform:translate3d(-40%,0,0);opacity:0;transform:translate3d(-40%,0,0)}
       to{-webkit-transform:translateZ(0);opacity:1;transform:translateZ(0)}
    }
    
    .fadeInLeft {
       -webkit-animation-name:fadeInLeft;
       animation-name:fadeInLeft
    }
    
    
    @-webkit-keyframes fadeInRight {
       0%{-webkit-transform:translate3d(100%,0,0);opacity:0;transform:translate3d(100%,0,0)}
       to{-webkit-transform:translateZ(0);opacity:1;transform:translateZ(0)}
    }
    
    @keyframes fadeInRight {
       0%{-webkit-transform:translate3d(100%,0,0);opacity:0;transform:translate3d(100%,0,0)}
       to{-webkit-transform:translateZ(0);opacity:1;transform:translateZ(0)}
    }
       
    .fadeInRight {
       -webkit-animation-name:fadeInRight;
       animation-name:fadeInRight
    }
    
    .animated {
         -webkit-animation-duration:0.5s;
         -webkit-animation-fill-mode:both;
         animation-duration:0.5s;
         animation-fill-mode:both
}

/* text 시작 */
/* 공통 */
.menu3_desc1{display: block;width: 1200px;height: 820px; 
    position: relative;
}
.menu3_desc1>h1{display: block;width: 600px;height: 30px; margin-left: -300px; margin-top: 580px;
    font-size: 32px;color: #333;text-align: center;line-height: 30px;letter-spacing: -1px;
    position: absolute;left: 50%;
 }
.menu3_desc>ul+ul{margin-top: 130px}

.web1-txt{display: block;height: 13px; margin-left: -310px; margin-top: 625px;
    font-size: 18px;color: #777;text-align: center;line-height: 21px;letter-spacing: -0.5px;
    position: absolute;left: 50%;
}
.web1_btn2{display: block; width: 1200px;height: 30px; margin-top: 670px; margin-left: -360px;
    position: absolute;left: 50%
}
.web_btn_common>li{width: 200px;height: 45px;float: left;
    border: 1px solid #999; border-radius: 25px;
    text-align: center;
    transition: all 0.5s
}
.web_btn_common>li+li{margin-left: 60px;}
.web_btn_common>li>a{display: block; width: 100%; height: 45px; 
    font-size: 18px;color: #444; line-height: 43px;letter-spacing: -0.5px;
}
.web_btn_common>li:hover a{color: #fff;}
.web_btn_common>li:hover{border: none; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.16)}

.web1_date{width: 650px;height: 56px; margin-top: 750px;margin-left: -320px;
    position: absolute; left: 50%
}
.web1_date>li{float: left}
.web1_date>li:nth-child(2){float: right}
.web1_date>li:nth-child(2)>.p1{
    font-size: 17px;color: #555; font-weight: 700; line-height: 19px; 
}
.web1_date>li:nth-child(2)>.p2{line-height: 20px;}
.web1_date>li:after{content: ""; display: block; clear: both;}
.web1_date p{font-size: 16px;color: #777;line-height: 16px; font-weight: 300}
.web1_date em{width: 60px; float: left;
    font-size: 16px;color: #555; font-weight: 700; line-height: 16px;
}
/* 개별 */
.tlj-txt{margin-left: -280px;}
.tlj-txt>span{color: #444; font-weight: 700}
.ikea-txt{margin-left: -290px;}
.ikea_btn{margin-left: -220px;}

.tlj_btn li:hover{background-color: #0d4633;}
.busan_btn li:hover{background-color: #232467;}
.ikea_btn li:hover{background-color: #e8bd1e;}
/* menu3 끝 */

/* menu4 시작 */
#menu4{padding: 0 30px;}
#menu4 .desc{margin-right: 210px;}
#menu4 article{float:left;}
#menu4:after{content: ""; display: block; clear: both;}

/* hover 1,2,3,4 공통 */
.hover1, .hover2, .hover3, .hover4{width:400px; height: 300px; overflow: hidden;
    position: relative;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2)
}
.hover1 h1, .hover2 h1, .hover3 h1, .hover4 h1{color: #fff; font-weight: 400; letter-spacing: -1px; font-size: 28px;
    transition: all 0.3s
}
.hover1 p, .hover2 p, .hover3 p, .hover4 p{color: #fff; font-weight: lighter; font-size: 15px;
    transition: all 0.3s;
}
.hover1, .hover2{margin-bottom: 100px}

/* hover1 */
.hover1{background-color: rgba(56, 49, 95, 0.91); margin-right: 50px;}
.hover1>h1{position: absolute; left:60px; top:180px; z-index: 10;}
.hover1 span{font-weight: 700}
.hover1>p{opacity: 0;
    position: absolute; left:120px; top: 230px;z-index: 10
}
.hover1 img{opacity: 0.5;
    position: absolute; left:-30px ;top:0;
    transform: scale(1.2);
    transition: all 0.3s;
}
.hover1>ul{width: 150px;
    position: absolute; right:15px; top:40px; z-index: 10;
    color: rgba(255, 255, 255, 0.7); 
}
.hover1 li{float: left; opacity: 0;
    font-size: 25px;
    position: absolute; top: 30px;
    transition: all 0.3s 0.3s;
}
.hover1 li:nth-child(1){left: 0px; transition-delay: 0.3s}
.hover1 li:nth-child(2){left: 50px; transition-delay: 0.4s}
.hover1 li:nth-child(3){left: 100px; transition-delay: 0.5s}
.hover1:hover img{opacity: 1;
    left:0px;
}
.hover1:hover h1{top: 170px;}
.hover1:hover p{left:60px; opacity: 1}
.hover1:hover li{top:0; opacity: 1;}
.hover1 i:hover{color: #fcfc06;}

/* hover2 */ 
.hover2{background-color: rgb(15, 124, 70);}
.hover2>h1{width: 100%;
    position: absolute; left:0px; top:130px; z-index: 10;
    text-align: center;
    transition: all 0.5s
}
.hover2 span{display: inline-block;
    font-weight: 700;
}
.hover2 span:nth-child(1){left: 50px; transition-delay: 0.4s}
.hover2 span:nth-child(2){left: 50px; transition-delay: 0.4s}
.hover2>p{width: 100%; opacity: 0;
    position: absolute; left:0px; top: 220px;z-index: 10;
    text-align: center;
    transition: all 0.5s;
}
.hover2 img{
    position: absolute; left:0 ;top:0;
    transition: all 0.3s;
}
.hover2>ul{width: 300px; height: 200px;
    position: absolute; left: 50px; top: 50px; z-index: 10;
}
.hover2 li{background-color: #fff;
    position: absolute;
    transition: all 0.3s;
    transform: scale(0)
}
.hover2 li:nth-child(1){width: 300px; height: 1px;}
.hover2 li:nth-child(2){width: 1px; height: 200px;left: 300px;}
.hover2 li:nth-child(3){width: 300px; height: 1px; top:200px;}
.hover2 li:nth-child(4){width: 1px; height: 200px;}
.hover2:hover li{transform: scale(1)}
.hover2:hover img{opacity: 0.7}
.hover2:hover h1{top: 140px}
.hover2:hover p{top: 200px; opacity: 1;}

/* hover3 */

.hover3{background-color: #000; margin: 0 50px 0 290px;
    color:#fff;
}
.hover3>h1{width: 100%;z-index:10;
    position: absolute; left: 90px;top: 100px;
    font-size: 28px; font-weight: 400; letter-spacing: -1px;
    transition: all 0.5s
}
.hover3 span{display: inline-block;
    font-weight: 700;
}
.hover3>p{width: 100%; z-index:10; opacity: 0;
    position: absolute; left: 90px;top: 120px;
    font-weight: 100; letter-spacing: -0.5px; 
    transition: all 0.5s; 
}
.hover3>ul {position: absolute; right:40px; bottom:20px;z-index:20; opacity: 0;
    font-size: 25px;
    transition: all 0.3s
}
.hover3>ul>li{float: left; position: relative;top: -20px; margin-left: 30px;
    color: #333;
    transition: all 0.3s
}
.hover3>ul>li:nth-child(2){transition-delay: 0.1s}
.hover3>ul>li:nth-child(3){transition-delay: 0.2s}

.hover3>div{ width: 600px;height: 200px;
    background-color: #fff; opacity: 0.7;
    position: absolute; left: 0;top: 300px;z-index: 9;
    transform: rotate(0deg); transform-origin: left top;
    transition: all 0.3s
}
.hover3>figure{position: absolute; left: 0;top: 0; opacity: 1;
    transition: all 0.5s
}
.hover3:hover h1{top: 60px}
.hover3:hover p{top:120px; opacity: 1}
.hover3:hover ul{opacity: 1;}
.hover3:hover li{top: 15px;}
.hover3 li:hover i{color:#f85215}
.hover3:hover figure{opacity: 0.7}
.hover3:hover div{transform: rotate(-15deg);}

/* hover4 */
.hover4 {background: rgba(47, 44, 62, 0.89);
    position: relative;
}
.hover4>img {opacity: 0.95;
	-webkit-transition: opacity 0.35s, -moz-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

	-webkit-transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
.hover4>figcaption::before {width: 500px; height: 300px; content: "";
	position: absolute;	top: -50px; left: 0; 
	background: rgba(255,255,255,0.5);
	-webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
    -ms-transition: -ms-transform 0.7s;
    transition: transform 0.7s;
    
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200px,0);
	-moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200px,0);
	-ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200px,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-450px,0);
}
.hover4 p {margin: 50px; padding: 0 20px; max-width: 180px;
	position: absolute;	right: 0; bottom: 0;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.hover4 h1 {text-align: left; 
    position: absolute; left: 145px; top:100px;
    font-size: 28px; font-weight: 400; letter-spacing: -1px;
    transition: all 0.5s
}
.hover4 span{display: inline-block;
    font-weight: 700;
}
.hover4:hover img {opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.hover4:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,350px,0);
	-moz-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,350px,0);
	-ms-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,350px,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,350px,0);
}
.hover4:hover p {opacity: 1;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
/* menu4 끝 */

/* menu5 시작 */
/* 공통 */
#menu5{padding: 0 60px;}
#menu5 .desc{margin-right: 110px;}
#menu5:after{content: ""; display: block; clear: both;}


.dyn-img{transition: all 0.3s;}
.dyn-img:hover{transform: scale(1.03)}
.dyn-img img{ border-radius: 15px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)}

.dyn-txt{text-align: right; padding: 40px 250px 0 0;}
.dyn-txt>p{
    font-size: 30px;font-weight: 600;color: #72726c;line-height: 30px;letter-spacing: -1px; color: #444;
}
.dyn-txt>em{
    font-size: 16px;color: #666;line-height: 16px; font-weight: 300; letter-spacing: -1px;
}
.dyn-btn{position: relative}
.dyn-btn>a{display: block;width: 160px;height: 40px; float: right;
    border: 1px solid #b3b3b0; border-radius: 5px;
    font-size: 16px;color: #444;line-height: 38px;text-align: center;letter-spacing: -1px;
    position: absolute; right: 10px; top:-60px;
    transition: all 0.4s
}
.dyn-btn>a:hover{background: #b3b3b0; color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.16);
}
/* 개별 */
.menu5_desc1{float: right; }
.menu5_desc2{float: left; margin-top: 400px;}

/* menu5 끝 */

/*--- footer 시작 ---*/
#footer{text-align: center; padding-top: 200px;}
#footer>section{margin-bottom: 20px}
#footer .f-text1{margin-bottom: 200px;
    font-family: 'KCC-eunyoung'; font-size: 80px; color: #222;
}
#footer address{margin-bottom: 150px;
    font-size: 20px; color: #666; font-weight: 300; line-height: 30px;
}
#footer .f-text2{font-weight: 400; line-height: 30px; color: #868686; font-size: 14px;}
/* footer 끝 */











