html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,fieldset {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   outline: 0;
   font: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, section, main {
   display: block;
}
a {
   text-decoration: none;
   color: inherit;
}
a:active, a:hover {
   text-decoration: none;
}
ul, li, ol, dl, dt, dd {
   list-style: none;
}
button {
   background: transparent;
   border: 0;
   outline: 0;
   padding: 0;
   margin: 0;
   cursor: pointer;
   font-family: inherit;
}
fieldset, img {
   border: 0 none;
   font-size: 0;
}
dl, ul, ol, menu, li {
   list-style: none
}
img {
   vertical-align: top;
   max-width: 100%;
}
html {
   box-sizing: border-box;
}
*,::after,::before {
   box-sizing: inherit
}